body {
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 0px;
}

.body-wrapper {
	margin: 0 auto;
	width: 900px;
        border: 1px solid #CCC;
    background-color: #F0F0F0;
}

.main {
   padding: 20px;
}


.footer {
  border-top: 1px solid #CCC;
  padding: 10px 20px;
  font-size: 90%;
  color: #576F45;
  background-color: #DFDFDF;
}

.blog {
  float: left;
  width: 75%;
}

.side { 
  float: right;
  width: 25%;
}

.blog-inside {
  padding-right: 15px;
}

.clear-floats {
  clear: both;
}


.top {
  padding: 0px 20px 10px 20px;
  border-bottom: 1px solid #CCC;
}

.info {
	font-style: italic;	
}


.blog-entry-quote a {
	color: #000;
	text-decoration: none;
}

.blog-entry-quote h4 {
	margin: 0px;	
}
.blog-entry-quote p { 
	margin: 5px 0px;
}
.blog-entry-quote {
	margin-bottom: 20px;	
}
