<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<filter>
		<filter-name>adminRoutingFilter</filter-name>
		<filter-class>mvcaur.RouterFilter</filter-class>
		<init-param>
			<param-name>router</param-name>
			<param-value>cmfaur.AdminRouter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<!-- This filter mapping is required by Cmfaur -->
		<filter-name>adminRoutingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<filter>
		<filter-name>routingFilter</filter-name>
		<filter-class>mvcaur.RouterFilter</filter-class>
		<init-param>
			<param-name>router</param-name>
			<param-value>cmfaur.example.ExampleRouter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<!-- This filter mapping is required by Cmfaur -->
		<filter-name>routingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<listener>
		<!-- Initializer for Cmfaur -->
		<listener-class>cmfaur.example.Configurator</listener-class>
	</listener>
	
</web-app>
